.table-bar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px;
}

.inputStyle {
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 8px 0 8px 16px;
}

.movie-list {
  background-color: #babec7;
  border-radius: 10px;
  width: 900px;
  min-height: 250px;
  margin: 20px auto;
  padding: 20px;
}

.movie-list input {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #1ba117;
  cursor: pointer;
  color: #fff;
}

.movie-list input:hover {
  background-color: #60c05dd3;
}

.movie-list img {
  margin-right: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
